.cust_check
{
margin: auto;
padding-left: 5% ! important;
}

.actions{
	display: flex;
}
.actions a{
	padding: 5px;
	color: white ! important;

}

.actions .edit{
	margin-right: 5px;
}

.table td, .table th{
	padding: 10px;
}

 .admin-sidebar, .bg-dark {
	background: linear-gradient( 145deg, #4772d9, #5be0e0 ) ! important;
}

.admin-sidebar .menu .menu-item.opened .sub-menu, .menu .menu-item.active{
	background: transparent ! important;
}
 .admin-sidebar {
font-weight: 700;
color:white;
}
.admin-sidebar .menu .menu-item .menu-link .menu-label{
	color: white;
}

 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.optional_input, .hide{
	display: none;
}
.show{
	display: block ! important;
}